<strong>Olá, {{ organizerName }}</strong>
<p>Houve uma nova inscrição para o meetup {{ meetupDesc }}, confira os detalhes abaixo:</p>
<p>
  <strong>Usuário: </strong> {{ userName }} <br />
  <br />
  <small>
    Acesse o aplicativo para mais informações.
  </small>
</p>
